@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;600&family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Cabin";
  color: "#3c3c3c";
  box-sizing: border-box;
}
